*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.clear{
    clear: both;
}

#header{
    background: linear-gradient(45deg, #e95848, #48d1cc );
    height: 46px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;
}

#nav{
    display: inline-block;
}

#nav li{
    position: relative;
}

#nav > li{
    display: inline-block;
}

#nav li a{
    line-height: 46px;
    padding: 0 24px;
    text-decoration: none;
    display: block;
}

#nav > li > a{
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}
#nav > li:hover > a{
    color: #000;
    background-color: #88cde6;
}

#header .play{
    float: right;
    top: 0;
    right: 0;
    color: #fff;
    line-height: 46px;
    padding: 0 24px;
    text-decoration: none;
    display: block;

}

#header .play li{
    list-style-type: none;
}

#header .play li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: larger;
    font-weight: 600;
}

#header .play:hover{
    color: #000;
    background-color: #FF0000;
    cursor: pointer;
}

/*slide*/
#slide{
    position: relative;
    width: 100%;
}

#slide .text-content{
    position: absolute;
    top: 0;
    color: #fff;   
    left: 50%;
    transform: translateX(-50%);
    padding: 46px 16px;
    text-align: center; 
}

#slide .text-heading{
    margin: 10px 0;
    font-weight: 700;
    font-size: 68px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0 0 10px #000;
    letter-spacing: 5px;
    color: #cd2917;
}

/*main game area*/

#game{
    width: 100%;
	height: 615px;
    text-align: center;
    background: white;
    font-family: 'Chakra Petch', sans-serif;
    color: red;
}

.game-main{
    position:absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    background-color: #84bbd7;
    display: inline-block;
    border-radius: 10%;
    padding: 30px 4%;
}

#game .bg-img img {
    margin-top: 46px;
    width: 100%;
    height: auto;
}

